body {
    margin: 0px;
    font-family: "maFont", sans-serif;
}

h2 {
    color: black;
}

header {
    display: block;
    unicode-bidi: isolate;
}

@font-face {
    font-family: "maFont";
    src: url("../fonts/Mukta-Regular.ttf");
}

footer {
    background: #454545;
}

footer p {
    text-align: center;
    color: white;
    font-size: 2vh;

}

.navigation-bar {
    z-index: 1;
    padding: 1em;
}

.menu {
    position: relative;
    width: 100%;    
    justify-content: space-between;
}

.menu ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

.navigation-bar .menu li {
    font-size: 22px;
    marker: none;
}

.menu li {
    margin: 0px 20px;
    padding: 0px 20px;
}

.navigation-bar a {
    color: #ededed;
    text-decoration: none;
    transition: color 0.5 cubic-bezier(ease-in-out);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30vh;
    padding: 10px;
    z-index: 1;
    background-color: rgb(83, 83, 83);

}

.profile p {
    margin: 0;
    padding: 10px;
    font-size: 4vh;
    text-align: center;
}

#background {
    background: url('../images/fond_code.jpg');
}

#welcome {
    height: 75vh;
    width: 100%;
    translate: (-50%, -50%);
    background-size: cover;
}

#welcome h1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
}

#welcome p {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
}

#profile {
    margin: 15vh 45vh;
    padding: 2vh;
    background-color: rgb(110, 110, 110);
}

#projets {
    margin: 15vh 45vh;
    padding: 2vh;
    background-color: rgb(110, 110, 110);
}

#veille {
    margin: 15vh 45vh;
    padding: 2vh;
    background-color: rgb(110, 110, 110);
}